/* Best Packages CSS Styling */
#best-packages{
    background-color: #e9e7e7;
    padding-bottom: 25px;
  }
  /* Style the buttons */
  .btn {
    @include common-green-button();
    background-color: $secondary-color;

    &:hover {
      background-color: #05bc70;
    }

    &.active {
      background-color: #05bc70;
      color: white;
    }
  }
     
  .row {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  /* Add padding BETWEEN each column */
  .row, .row > .column {
    padding: 25px;
  }
  
  /* Create three equal columns that floats next to each other */  
  /* Content */
  .content {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px $secondary-color;
  }

  .content-info {
    padding: 20px;
  }

  #filter-selection{
      display: flex;
      justify-content: space-evenly;
  }
  .package-img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  // .fl{
  //   float: left;
  // }
  // .fr{
  //   float: right;
  // }
  .know-more span
  {
    color: #3c3c3c;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
  }

  .location{
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 600;
  }

  .w-210{
    width: 210px;
  }
